.title {
  display: flex;
}

.title__results {
  border-radius: 0 10px 0 0;
}

.title__text {
  border-radius: 10px 0 0 0;
  text-transform: capitalize;
  flex: 1;
  text-align: left;
}

.title__text,
.title__results  {
  margin: 0;
  padding: 10px 20px;
  color: white;
}

/* Mdule title color */

.title--usuarios {
  background-color: var(--dark-blue-gray);
}

.title--fuentes {
  background-color: var(--shadow-blue);
}

.title--conciliaciones {
  background-color: var(--opal);
}

.title--tableros {
  background-color: var(--laurel-green);
}
