.user {
  grid-template-columns: 100px 1fr;
}

.user__info {
  margin-left: 10px;
  display: grid;
  gap: 5px;
}

.user,
.coinciliation,
.table,
.source {
  display: grid;
  background-color: white;
  color: var(--text-color);
  padding: 10px;
  border: 1px solid var(--border-color);
}

.user__info,
.coinciliation__info,
.table__info,
.source__info {
  text-align: initial;
}
