/* Global variables */
:root {
  --dark-blue-gray: #666A86;
  --shadow-blue: #788AA3;
  --opal: #92B6B1;
  --laurel-green: #B2C9AB;
  --dutch: #db9999;
  --text-color: #727272;
  --border-color: #c3c3c3;
  --hover-load-more: rgb(71, 71, 71);
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: 'Roboto';
}

p {
  margin: 0;
}
